*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    background-color: #e1e2e6;
    font-size: 16px;
    opacity: 0.98;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    background-color: white;
}

            /* Header */

header img, header h2, nav, header ul, header li {
    display: inline;
}

header, header img, header h2, nav, header ul, header li, header span, header a, .logo {
    background-color: white;
}

header {
    padding: 16px 24px 16px 24px;
}

header .desktop {
    background-color: white;
}

header h2 {
    font-size: 32px;
}

header span {
    opacity: 0.6;
    font-size: 32px;
}

header nav {
    float: right;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
    letter-spacing: 95%;
    font-size: 20px;
}

header li {
    margin-left: 16px;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 768px) {

    header {
        padding-bottom: 4rem;
        width: 100%;
    }

    header .desktop {
        display: none;
    }
    
    header .mobile {
        display: block;
        width: 100%;
        text-align: center;
    }

    header .mobile ul li {
        padding: 1.2rem;
    }

    header .mobile ul li a img {
        min-width: 2.2rem;
    }
}


            /* Banner */

.banner {
    display: flex;
}

.banner img {
    max-width: 60%;
    padding: 2rem 1.5rem 2rem 1.5rem
}

.banner div {
    text-align: center;
    padding: 9rem 1rem;
}

button {
    width: 400px;
    padding: 0.5rem 0;
    color: white;
    background-color: #1a1a1a;
    font-size: 1.5rem;
}

.banner-heading {
    font-size: 40px;
}

.banner-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 2rem 0;
}

div.desktop {
    background-color: white;
}

section.mobile {
    display: none;
}
@media only screen and (max-width: 768px) {
    section.desktop {
        display: none;
    }

    section.mobile {
        display: block;
        width: 100%;
        text-align: center;
    }

    section.mobile img {
        max-width: 100%;
    }

    section.mobile h1 {
        padding: 2rem 1rem;
        font-size: 2rem;
    }

    section.mobile p {
        margin: 0;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
    }

    section.mobile button {
        margin-bottom: 2rem;
        margin-left: 0.9rem;
        margin-right: 1rem;
    }
}

            /* Pre Main */

.practice {
    display: flex;
    background-color: white;
}

.left-main {
    background-color: white;
    max-width: 60%;
}

.motivation {
    padding: 2rem 1.5rem;
    background-color: white;
}

.motivation h1, .motivation p {
    background-color: white;
    text-align: center;
}

.motivation p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 100;
    padding-top: 1.5rem;
}

.home-of-motivation {
    padding-bottom: 2rem;
}

.hardworker {
    max-width: 95%;
    padding: 2rem 1.5rem;
    background-color: white;
}

.right-main {
    background-color: white;
    padding-top: 1rem;
}

.rectangle {
    display: flex;
    padding: 1rem;
    background-color: white;
    border: 0.01rem solid #e1e2e6;
}

.info {
    padding-left: 1rem;
    padding-top: 1.5rem;
    background-color: white;
}

.info p {
    padding: 0.5rem 0;
    background-color: white;
}

.info a {
    text-decoration: none;
    color: blue;
    background-color: white;
}

.rec-img {
    max-width: 35%;
}

.guest {
    max-height: 10.5rem;
}

.info-body {
    background-color: white;
}

div.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .left-main {
        display: none;
    }

    div.desktop {
        display: none;
    }

    div.mobile {
        display: block;
    }

    div.mobile .rectangle {
        display: block;
        background-color: white;
    }

    div.mobile .rec-img {
        max-width: 100%;
    }

    div.mobile .guest {
        max-width: 100%;
    }

    div.mobile .right-main {
        padding: 0;
        text-align: center;
    }

    div.mobile .right-main .rectangle {
        margin: 0;
        padding: 2rem;
        width: 85%;
    }

    #mobile, #mobile h2, #mobile p, #mobile a {
        background-color: white;
    }
}

            /* Boxes Section */

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}

section h1 {
    padding: 2.5rem 0 1rem 0;
}

.box {
    background-color: white;
    max-width: 23.3rem;
    text-align: left;
    margin: 1rem;
}

.box-content {
    padding: 1rem;
    background-color: white;
}

.box h2, .box p {
    background-color: white;
}

.box-content p {
    padding-top: 0.5rem;
}

.box-img {
    max-width: 100%;
    background-color: white;
}

.appear {
    display: none;
}

@media only screen and (max-width: 768px) {
    .disappear {
        display: none;
    }

    .appear {
        display: block;
        background-color: white;
    }

    .appear h1 {
        padding-bottom: 2.5rem;
    }

    .list {
        background-color: white;
        padding: 1rem;
    }

    .list-item {
        padding: 1rem 0 1.5rem 1rem;
        margin: 0.5rem 0;
        font-size: 1.8rem;
    }
}



            /* Video Section */

.pre-footer {
    display: flex;
    background-color: white;
    border-bottom: 0.15rem solid #e1e2e6;
}

.section-heading {
    padding: 2rem 0;
    background-color: white;
}

.main-vid {
    max-width: 60%;
    text-align: center;
}

.vid {
    max-width: 100%;
    text-align: center;
}

.vid-content, .vid-content h2, .vid-content p {
    background-color: white;
}

.vid-container {
    padding: 0 1.5rem 1.5rem 1.5rem;
    background-color: white;
}

.next-line {
    border-right: 1rem solid white;
    padding: 1rem;
    background-color: white;
    padding-right: 1rem;
    border: 0.01rem solid #e1e2e6;
}

.next-up {
    background-color: white;
}

.next-content {
    display: flex;
    background-color: white;
}

.next-img {
    max-height: 10rem;
    padding-right: 1rem;
    background-color: white;
}

.next-text {
    padding-top: 2rem;
    background-color: white;
}

.next-text p {
    padding-top: 1rem;
    background-color: white;
}

.vid-content p {
    padding: 0.5rem 1.5rem 2rem 1.5rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    text-align: left;
}

.vid-content h2 {
    text-align: left;
    padding-left: 1em;
}

.unvanish {
    display: none;
}

@media only screen and (max-width: 768px) {
    .vanish {
        display: none;
    }

    .unvanish {
        display: block;
        border: 0.1rem solid #e1e2e6;
    }

    .unvanish h1 {
        background-color: white;
        padding-bottom: 1.5rem;
    }

    .mob-vid {
        max-width: 100%;
        background-color: white;
    }
}

            /* Footer */

footer {
    
    background-color: white;
}

.last-words {
    display: inline;
    text-decoration: none;
    float: right;
    padding-left: 0.7rem;
    background-color: white;
}

footer p {
    display: inline;
    background-color: white;
}

footer div {
    padding: 2rem;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .last-words {
        display: none;
    }
}