*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a1a1a;
    background-color: #e1e2e6;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

            /* Header */

header img, header h2, nav, header ul, header li {
    display: inline;
}

header, header img, header h2, nav, header ul, header li, header span, header a, .logo {
    background-color: white;
}

header {
    padding: 16px 24px 16px 24px;
}

header h2 {
    font-size: 32px;
}

header span {
    opacity: 0.6;
    font-size: 32px;
}

header nav {
    float: right;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
    letter-spacing: 95%;
    font-size: 20px;
}

header li {
    margin-left: 16px;
}

            /* Banner */

.banner {
    display: flex;
}

.banner img {
    max-width: 60%;
    padding: 2rem 1.5rem 2rem 1.5rem
}

.banner div {
    text-align: center;
    padding: 9rem 1rem;
}

button {
    width: 400px;
    padding: 0.5rem 0;
    color: white;
    background-color: #1a1a1a;
    font-size: 1.5rem;
}

.banner-heading {
    font-size: 40px;
}

.banner-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 2rem 0;
}

            /* Pre Main */

.practice {
    display: flex;
    background-color: white;
}

.left-main {
    background-color: white;
    max-width: 60%;
}

.motivation {
    padding: 2rem 1.5rem;
    background-color: white;
}

.motivation h1, .motivation p {
    background-color: white;
    text-align: center;
}

.motivation p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 100;
    padding-top: 1.5rem;
}

.home-of-motivation {
    padding-bottom: 2rem;
}

.hardworker {
    max-width: 95%;
    padding: 2rem 1.5rem;
    background-color: white;
}

.right-main {
    background-color: white;
    padding-top: 1rem;
}

.rectangle {
    display: flex;
    margin: 1rem;
    padding: 1rem;
}

.info {
    padding-left: 1rem;
    padding-top: 1.5rem;
}

.info p {
    padding: 0.5rem 0;
}

.info a {
    text-decoration: none;
    color: blue;
}

.rec-img {
    max-width: 35%;
}

.guest {
    max-height: 10.5rem;
}

            /* Boxes Section */

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}

section h1 {
    padding: 2.5rem 0 1rem 0;
}

.box {
    background-color: white;
    max-width: 20rem;
    text-align: center;
    margin: 2rem;
}

.box-content {
    padding: 1rem;
    background-color: white;
}

.box h2, .box p {
    background-color: white;
}

.box-content p {
    padding-top: 0.5rem;
}

.box-img {
    max-width: 20rem;
    background-color: white;
    text-align: center;
}

            /* Video Section */

.pre-footer {
    display: flex;
    background-color: white;
    border-bottom: 0.15rem solid #e1e2e6;
}

.section-heading {
    padding: 2rem 0;
    background-color: white;
}

.main-vid {
    max-width: 60%;
    text-align: center;
}

.vid {
    max-width: 100%;
    text-align: center;
}

.vid-content, .vid-content h2, .vid-content p {
    background-color: white;
}

.vid-container {
    padding: 0 1.5rem 1.5rem 1.5rem;
    background-color: white;
}

.next-line {
    border-bottom: 1rem solid white;
    border-right: 1rem solid white;
    padding: 1rem;
}

.next-up {
    background-color: white;
}

.next-content {
    display: flex;
}

.next-img {
    max-height: 10rem;
    padding-right: 1rem;
}

.next-text {
    padding-top: 2rem;
}

.next-text p {
    padding-top: 1rem;
}

.vid-content p {
    padding: 0.5rem 1.5rem 2rem 1.5rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    text-align: left;
}

.vid-content h2 {
    text-align: left;
    padding-left: 1em;
}

            /* Footer */

footer {
    
    background-color: white;
}

.last-words {
    display: inline;
    text-decoration: none;
    float: right;
    padding-left: 0.7rem;
    background-color: white;
}

footer p {
    display: inline;
    background-color: white;
}

footer div {
    padding: 2rem;
    background-color: white;
}
